body{
    font-size: 12px;
    line-height: 22px;
    color: #666;
    border-top: 3px solid #eee;
    background: #343434 url(../images/back.png) repeat;
    -webkit-font-smoothing: antialiased;    
    font-family: 'Roboto', sans-serif !important;
}

header {
    border-top: 1px solid #ccc;
    padding: 0px;
    background: #fafafa url(../images/cream.png) repeat;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}


@media (min-width: 1200px)
{
    .container {
        width: 1245px !important;
    }
}
.btn-link {
    font-weight: 400;
    color: #337ab7;
    border-radius: 0;
    padding: 0px 6px !important;
}

.table-bordered>tbody>tr>td {
    padding: 11px 10px !important;
    height: 15px !important;
}
.mdl-data-table tbody tr {
    position: relative;
    height: 40px !important;
    transition-duration: .28s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-property: background-color;
}

.navbar-default {
    background-color: transparent !important;
    border: none !important;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:23px !important; 
    padding-bottom:0 !important;
    height: 63px !important;
}


.navbar {
    background-color: #f8f8f8;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));
    background: -webkit-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -o-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: linear-gradient(top, #f8f8f8, #f2f2f2);
    border-bottom: 1px solid #ddd;
    box-shadow: inset 0px 1px 1px #fff;
    margin-bottom: 30px !important;
    min-height: 63px !important;
}
.img-brand{
    max-width:220px;
    margin-top: -7px; 
    padding-right:10px
}

.widget {
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 20px;
    background: #fafafa url(../images/cream.png) repeat;
    padding: 20px;
}

label {
    color: #8c8989;
}

.link-info{
    color: #5bc0de !important;
}

.link-warning{
    color: #ec971f !important; 
}

.link-danger{
    color: #d9534f !important;
}
 .page-head {
    background-color: #f8f8f8;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));
    background: -webkit-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -o-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: linear-gradient(top, #f8f8f8, #f2f2f2);
    padding: 8px 20px;
    border-bottom: 1px solid #fff;
    box-shadow: inset 0px 1px 1px #fff;
}
 .page-head h2 {
    font-weight: normal;
    font-size: 20px;
}
 .bread-crumb {
    font-size: 11px;
    margin-top: 10px;
    color: #aaa;
}

.list-group-item span{
    font-weight: bold;
}

.nav-pills li a{
    padding: 0px !important;
}
.nav{
    padding-top: 6px;
}
.status{
    padding-left: 15px;
    font-style: italic;
}
.seg-titulo{
    color:#fff;
    width: 100%;
    height: 26px;
    padding: 4px 20px;
    background-color: #004E7D;
    margin: 20px 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
}

.table_complet>tbody>tr>td{
    font-size: 12px !important;
}

.table_complet>thead>tr>th{
    font-size: 13px !important;
}

.dtr-details tr{
    border-bottom: 1px solid #E6E6E6;
    padding: 10px 0px;
}


.dtr-details tr td{
   padding: 5px 0px;
}
.Activo{
    background-color: #5cb85c !important;
    color:#fff !important;
}
.Inactivo{
    background-color: #e86767 !important;
    color:#fff !important;
}

ul.list-group >li:hover{
    background-color: #f8f8f8;
}

.modal-header {
    padding: 7px 10px;
    border-bottom: 1px solid #e5e5e5;
}

.dtr-details tr:hover{
    background-color: #f8f8f8;
}

.dtr-details tr td:first-child{
    font-weight: 500;
}

.mdl-dialog__content{
    padding: 15px 24px 0px !important;
}
.mdl-dialog__content p{
    text-align: center;
}
.modal-title {
    font-size: 19px;
}
.mdl-list__item{
    height: 30px !important;
    padding: 5px 0px 13px !important;
}

.table>thead>tr>th{
    font-weight: bold !important;
    font-size: 15px;
}